@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

* img {
	max-width: 100%;
}

:root {
	--bg-color: #121b25;
	--accent-color: #1aa090;
	--text-color: #d6d6d6;
}

body {
	font-family: 'Work Sans', sans-serif;
	background-color: var(--bg-color);
}

[class*='__container'] {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
}

/*Header*/
.header {
	padding: 40px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__logo {
		max-width: 200px;
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
	}

	&__menu {
	}

	&__buttons {
		display: flex;
		gap: 5px;
	}

	&__btn {
		padding: 11px 20px;
		color: #fff;
		border: 2px solid var(--accent-color);
		background-color: transparent;
		transition: background-color 0.2s;
		cursor: pointer;
	}
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__item {
	}
	&__link {
		font-weight: 500;
		font-size: 16px;
		text-transform: capitalize;
		color: var(--text-color);
		text-decoration: none;
		transition: color 0.2s;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			background-color: var(--accent-color);
			height: 3px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.login {
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--accent-color);
		}
	}
}

.register {
	background-color: var(--accent-color);
	@media (any-hover: hover) {
		&:hover {
			background-color: transparent;
		}
	}
}
